<mat-card fxLayout="column">
  <div fxLayout="column">
    <span> {{ type }} </span>
    <div fxLayout="column">
      <h1 class="title">$ 1,000.000.00</h1>
      <div fxLayoutAlign="end" class="arrow-icon">
        <mat-icon class="icon">arrow_right_alt</mat-icon>
      </div>
    </div>
  </div>
  <div
    class="container"
    fxLayoutAlign="space-between center"
    fxLayout="row"
    fxLayoutGap="10px"
  >
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxLayoutAlign="center center">
          <mat-icon color="accent">check_circle</mat-icon>
        </div>
        <h2 class="accent">70%</h2>
      </div>
      <h3 class="accent">$ 700,000.00</h3>
      <div fxLayoutAlign="end" class="container-icon">
        <mat-icon class="icon">arrow_right_alt</mat-icon>
      </div>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxLayoutAlign="center center">
          <mat-icon color="error">report</mat-icon>
        </div>
        <h2 class="error">30%</h2>
      </div>

      <h3 class="error">$ 300,000.00</h3>
      <div fxLayoutAlign="end" class="container-icon">
        <mat-icon class="icon">arrow_right_alt</mat-icon>
      </div>
    </div>
  </div>
</mat-card>
