<mat-toolbar
  fxLayout="row"
  fxLayoutAlign="space-between center"
  color="primary"
>
  <div>
    <img src="assets/logo-web-liberty16.png" class="logo" />
  </div>
  <div fxLayout="row" fxLayoutGap="50px" style="margin-right: 50px">
    <div fxLayout="row">
      <span> Oficina </span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div fxLayout="row">
      <span> Agente </span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div fxLayout="row">
      <span> Ejecutiva </span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <button mat-button color="accent">Cerrar sesión</button>
  </div>

  <ng-content></ng-content>
</mat-toolbar>

<router-outlet></router-outlet>
